<ion-header>
  <ion-navbar>
    <ion-buttons start>
     <button ion-button icon-only (click)="homePage()" color="danger">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Messages
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="nivel == 1">
  <div class="card border-light mb-3">
    <div class="card-header text-center">Nos envie um feedback :D</div>
    <div class="card-body text-primary">
      <ion-item>
        <ion-label stacked>Escreva aqui sua mensagem <ion-icon name="mail"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Mensagem..." [(ngModel)]="message"></ion-input>
      </ion-item>
      <ion-item>  
        <button ion-button full color="primary" (click)="enviaMensagem()">Enviar</button>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="nivel > 1">
    <ion-item *ngFor="let x of data" (click)="detalhe(x)">
      {{x.message}}
    </ion-item>

    <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="adicionar()" color="dark">
        <ion-icon name="add" ></ion-icon>
      </button>
      <button ion-fab (click)="perfil()" color="primary">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-fab (click)="usuarios()" *ngIf="nivel > 2" color="secondary">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>