<ion-header>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar..."></ion-searchbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()" color="danger">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="getProdutos($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Puxe para atualizar"
      refreshingSpinner="circles"
      refreshingText="Obtendo itens...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let x of data" (click)="detalhe(x)">
      <!-- <ion-avatar item-start>
        <img  *ngIf="!x.imagem == 'produto-img'" src="{{x.imagem}}">
        <img  *ngIf="x.imagem == 'produto-img'" src="https://develop.backendless.com/FAA68423-49CB-CE65-FF5B-CB0FC0C7B600/console/fdleezxgcunaupxglanthtmxooxkqxsiphja/files/view/produto-img.png">
      </ion-avatar> -->
      {{x.nome}} 
      <ion-note item-end>{{x.quantidade}}</ion-note>
      </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="adicionar()" color="dark">
        <ion-icon name="add" ></ion-icon>
      </button>
      <button ion-fab (click)="perfil()" color="primary">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-fab (click)="usuarios()" *ngIf="nivel > 2" color="secondary">
        <ion-icon name="contacts"></ion-icon>
      </button>
      <button ion-fab (click)="message()" color="secondary"> 
        <ion-icon name="mail"></ion-icon>
      </button>
       <button ion-fab (click)="empresasPage()" color="danger"> 
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
